body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, .navbar-brand {
  font-family: 'Poppins', sans-serif;
}

.hero {
  height: 100vh;
  background: linear-gradient(135deg, #00995c, #66cdaa);
  position: relative;
  padding-top: 80px; /* offset for navbar */
}

.hero .container {
  z-index: 2;
  position: relative;
}

.custom-shape-divider-bottom-hero {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-hero svg {
  position: relative;
  display: block;
  width: calc(150% + 1.3px);
  height: 100px;
}

.custom-shape-divider-bottom-hero path {
  fill: #ffffff;
}
